In [1]:
import pandas as pd
url = "https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(url, encoding="latin-1")
print(df.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [2]:
#Question 1
stock = df.groupby("Element")["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"].sum()
stock.loc["Stock Variation"]

<ipython-input-2-2fe8beffeb5c>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  stock = df.groupby("Element")["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"].sum()

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [3]:
#Question 2
quest_2 = df.groupby("Area")["Y2017"].sum().sort_values().reset_index()
quest_2.iloc[6]

Area     Guinea-Bissau
Y2017         19102.77
Name: 6, dtype: object

In [4]:
#Question 3
df.shape

(60943, 12)

In [19]:
#Question 5
df.corr()

<ipython-input-19-e8c2b10182b8>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [5]:
#Question 7
import numpy as np
array  = np.array([[94, 89, 63],[93, 92, 48],[92, 94, 56]])
array[ : 2, 1 : ]

array([[89, 63],
       [92, 48]])

In [6]:
#Question 9
num_countries = df.describe(include="all")
num_countries.loc["unique", "Area"]

49

In [7]:
#Question 10a
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]
print(x)

8

In [8]:
#Question 10b
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

In [9]:
#Question 11
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age", "Nationality", "Overall"]

quest_11 = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
quest_11

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [10]:
#Question 12
df.Y2014.isnull().sum()

1589

In [11]:
#Question 13
quest_13 = df.groupby("Element")["Y2017"].sum()
quest_13.loc["Processing"]

292836.0

In [12]:
#Question 14
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [13]:
#Question 16
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [14]:
#Question 17
df.groupby("Area")["Y2017"].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
CÃ´te d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [15]:
#Question 18
country = df.groupby(["Area","Element"])["Y2015"].sum()
country.loc[("Madagascar", "Protein supply quantity (g/capita/day)")]

173.05

In [16]:
#Question 19a
round(df.Y2017.mean(), 2)

140.92

In [17]:
#Question 19b
round(df.Y2017.std(), 2)

1671.86

In [18]:
#Question 20
quest_20 = df.groupby("Item")["Y2015", "Y2018"].sum()
quest_20.loc["Wine"]

<ipython-input-18-9f4e465d7bad>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  quest_20 = df.groupby("Item")["Y2015", "Y2018"].sum()

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64